<%= form_with model: document do |form| %>
  <div class="row">
    <div class="form-group col-md-4">
      <!--      <label for="inputEmail4">Email</label>-->
      <!--      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">-->
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: "Name", class: "form-control" %>

      <% if @document.errors.any? %>
        <% @document.errors.full_messages_for(:name).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-4">
      <!--      <label for="inputEmail4">Email</label>-->
      <!--      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">-->
      <%= form.label :doc_type %>
      <%= form.text_field :doc_type, placeholder: "Document type", class: "form-control" %>

      <% if @document.errors.any? %>
        <% @document.errors.full_messages_for(:doc_type).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      <% end %>
    </div>
    <div class="form-group col-md-4">
      <!--      <label for="inputEmail4">Email</label>-->
      <!--      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">-->
      <%= form.label :employee_id %>
      <%= form.text_field :employee_id, placeholder: "employee id", class: "form-control" %>

      <% if @document.errors.any? %>
        <% @document.errors.full_messages_for(:employee_id).each do |message| %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      <% end %>
    </div>

  </div>
  <!--  <button type="submit" class="btn btn-primary">Sign in</button>-->
  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Back to Employee Doc", documents_path, class: "btn btn-outline-primary" %>
  </div>
<% end %>